$white: #FFFFFF;
$ivory: #F7F7F1;
$sandy: #FFC560;
$chestnut: #C34337;
$charcoal-blue: #0B121F;

@font-face {
  font-family: 'Antic Slab';
  src: url('/fonts/Antic_Slab/AnticSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lilita One';
  src: url('/fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans Regular';
  src: url('/fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Antic Slab', sans-serif;
  color: $ivory;
}

.container {
  width: 100%;
  padding-inline: 140px; 

  @media (max-width: 1200px) {
    padding-inline: 100px;
  }

  @media (max-width: 992px) {
    padding-inline: 30px;
  }

  @media (max-width: 480px) {
    padding-inline: 20px;
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;

  span {
    width: 25px;
    height: 2px;
    background: $ivory;
    border-radius: 2px;
    transition: transform 0.5s ease, opacity 0.3s ease;
  }

  &:hover span {
    transition: color 0.2s ease;
    background: #656a72;
  }

  &.active {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media (max-width: 992px) {
    display: flex;
    position: absolute;
    right: 30px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: $charcoal-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  &.active {
    transform: translateX(0%);
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      display: flex;
      justify-content: center;
      color: $ivory;
      font-size: 14px;
      text-decoration: none;
      font-family: 'Antic Slab', sans-serif;
      position: relative;

      &:hover {
        transition: color 0.4s ease;
        color: $sandy;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 36px;
    color: $ivory;
    cursor: pointer;

    &:hover {
      transition: color 0.2s ease;
      color: #656a72;
    }
  }
}

/** Header **/
.hero {
  background: url(images/back_header2.jpg) no-repeat center center / cover;
  padding-block: 30px 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 480px) {
    padding-block: 30px 80px;
  }

  @media (max-width: 380px) {
    padding-block: 30px 80px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 40px; 
      width: auto;
      display: block;
      cursor: pointer;
      z-index: 1101; 
    }

    .nav-links {
      a {
        position: relative;
        color: $ivory;
        text-decoration: none;
        margin-left: 20px;
        font-size: 14px;
        font-family: 'PTSans Regular', sans-serif;
        padding: 5px 0;

        &:hover {
          transition: color 0.4s ease;
          color: $sandy;
        }
            
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $ivory;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }         
      }

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .hero-content {
    padding-block: 180px 80px;
    text-align: left;

    @media (max-width: 480px) {
      padding-block: 110px 80px;
    }

    @media (max-width: 380px) {
      padding-block: 120px 80px;
    }

    h1 {
      color: $white;
      font-size: 100px;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      margin-bottom: 15px;

      @media (max-width: 992px) {
        font-size: 76px;
      }

      @media (max-width: 768px) {
        font-size: 60px;
      }
    }

    .decoration-elem-img {
      height: 8px;
      width: auto;
      margin: 5px 0;
      margin-bottom: 30px;
      
      @media (max-width: 992px) {
        height: 26px;
      }

      @media (max-width: 768px) {
        height: 28px;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 50px;
    }

    .hero-buttons {

      .btn {
        padding: 20px 40px;
        border: none;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'PTSans Regular', sans-serif;
        font-weight: 600;

        @media (max-width: 992px) {
          padding: 20px 30px;
        }

        &.primary {
          background-color: $sandy;
          color: #000;

          &:hover {
            transition: background-color 0.4s ease;
            background-color: lighten($sandy, 50%);
          }
        }

        &.secondary {
          font-size: 16px;
          background-color: transparent;
          color: $ivory;

          .text-play:hover {
            text-decoration: underline;
          }

          .symbol-play {
            margin-left: 10px;
            color: $sandy;
            text-decoration: none;
          }
        }
      }         
    }
  }
}

/** About us **/
.about-us {
  padding: 90px 0;
  color: #808080;
  font-family: 'PTSans Regular', sans-serif;

  .about-image  {
    width: 100%;
    height: 380px;
    object-fit: fill;
    margin-bottom: 12px;

    @media (max-width: 992px) {
      height: 300px;
    }

    @media (max-width: 768px) {
      height: 220px;
    }

    @media (max-width: 576px) {
      height: 180px;
    }

    @media (max-width: 480px) {
      height: 120px;
    }
  }

  .section-title {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .decoration-elem-img {
    display: block;
    margin: 30px auto;
    height: 8px;
    width: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 26px;
    }

    @media (max-width: 768px) {
      height: 28px;
    }
  }

  .section-description {
    width: 100%;
    margin: 0 auto 50px;
    font-size: 17px;
    text-align: center;
    line-height: 1.6;
  }

  .about-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .card {
      padding: 30px 20px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      flex: 1 1 calc(33.333% - 20px);

      @media (max-width: 992px) {
        flex: 0 1 calc(50% - 15px);
      }

      @media (max-width: 768px) {
        flex: 0 1 100%; 
      }

      img {
        height: 70px;
        margin-bottom: 20px;

        @media (max-width: 992px) {
          height: 66px;
        }

        @media (max-width: 768px) {
          height: 54px;
        }
      }

      h3 {
        color: #000;
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
        margin-bottom: 20px;

        @media (max-width: 992px) {
          font-size: 24px;
        }

        @media (max-width: 768px) {
          font-size: 22px;
        }
      }

      p {
        font-size: 20px;
        font-family: 'PTSans Regular', sans-serif;
        color: #808080;
        line-height: 1.4;

        @media (max-width: 992px) {
          font-size: 18px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}

/** What We Offer **/
.offer {
  padding: 0 0 90px 0;
  text-align: center;
  color: #808080;
  font-family: 'PTSans Regular', sans-serif;

  .section-title {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .decoration-elem-img {
    display: block;
    margin: 30px auto;
    height: 8px;
    width: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 26px;
    }

    @media (max-width: 768px) {
      height: 28px;
    }
  }

  .section-description {
    width: 100%;
    margin: 0 auto 50px;
    font-size: 17px;
    text-align: center;
    line-height: 1.6;
  }

  .container-swiper {
    width: 100%;
    padding-inline: 38px; 
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-color: $sandy;
      opacity: 0.8;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      font-weight: bold;
      z-index: 10;

      @media (max-width: 768px) {
        width: 24px;
        height: 24px;
      }

      &:hover {
        opacity: 1;
        transition: 0.3s;
      }

      &::after {
        font-size: 16px;       
      }
    }

    .swiper-button-prev {
      left: 22px; 
    }

    .swiper-button-next {
      right: 22px; 
    }

    .swiper-pagination {
      position: static;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 10px;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: $sandy;
        border-radius: 50%;
        opacity: 0.3;
        transition: opacity 0.3s ease;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  .offer-slider {
    width: 100%;
    position: relative;
    box-sizing: border-box;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      min-height: 520px;
      background-size: cover;
      background-position: center;

      @media (max-width: 768px) {
        min-height: 380px;
      }
    }

    .offer-content {
      padding: 0 20px;
      text-align: center;
      max-width: 540px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        color: $white;
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
        margin-bottom: 20px;

        @media (max-width: 992px) {
          font-size: 24px;
        }

        @media (max-width: 768px) {
          font-size: 22px;
        }
      }

      p {
        font-size: 18px;
        font-family: 'PTSans Regular', sans-serif;
        color: $ivory;
        line-height: 1.4;
        margin-bottom: 40px;

        @media (max-width: 992px) {
          font-size: 18px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      .offer-btn {
        font-family: 'Antic Slab', sans-serif;
        background-color: $sandy;
        color: #000;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          transition: background-color 0.4s ease;
          background-color: lighten($sandy, 50%);
        }
      }
    } 
  }

  .slide-1 {
    background-image: url(images/slide-1.png);
  }

  .slide-2 {
    background-image: url(images/slide-2.png);
  }

  .slide-3 {
    background-image: url(images/slide-3.png);
  }
}

/** Discount **/
.discount {
  background: url(images/get-your-personal.png) no-repeat center center;
  background-size: cover;
  padding: 160px 0;

  @media (max-width: 992px) {
    padding: 120px 0;
  }

  @media (max-width: 769px) {
    padding: 80px 0;
    background-position: calc(100% + 300px) center;
  }

  @media (max-width: 581px) {
    background-position: calc(100% + 400px) center;
  }

  @media (max-width: 451px) {
    background-position: calc(100% + 600px) center;
  }

  .discount-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .discount-text {
      max-width: 650px;

      @media (max-width: 1151px) {
        max-width: 480px;
      }

      @media (max-width: 992px) {
        max-width: 510px;
      }

      @media (max-width: 990px) {
        max-width: 518px;
      }

      @media (max-width: 866px) {
        max-width: 406px;
      }

      @media (max-width: 769px) {
        max-width: 355px;
      }

      @media (max-width: 581px) {
        max-width: 520px;
      }

      @media (max-width: 451px) {
        max-width: 380px;
      }

      h2 {
        font-size: 95px;
        font-family: 'Oswald', sans-serif;
        color: $white;
        line-height: 1.1;
        margin-bottom: 40px;

        @media (max-width: 992px) {
          font-size: 95px;
        }

        @media (max-width: 990px) {
          font-size: 80px;
        }

        @media (max-width: 769px) {
          font-size: 60px;
        }
      }

      p {
        color: $white;
        font-size: 20px;
        margin-bottom: 30px;
      }

      .discount-btn {
        background-color: $white;
        font-size: 16px;
        font-family: 'PTSans Regular', sans-serif;
        font-weight: 600;
        padding: 16px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          transition: background-color 0.4s ease;
          background-color: $sandy;
        }
      }
    }
  }
}

/** Events **/
.events {
  padding: 90px 0;
  background-color: $charcoal-blue;

  .section-title {
    color: $white;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .decoration-elem-img {
    display: block;
    margin: 30px auto;
    height: 8px;
    width: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 26px;
    }

    @media (max-width: 768px) {
      height: 28px;
    }
  }

  .section-description {
    max-width: 650px;
    margin: 0 auto 50px;
    color: $white; 
    font-family: 'PTSans Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
  }

  .events-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .event-card {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 40px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;  
    justify-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .event-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .event-time {
        font-family: 'Oswald', sans-serif;
        font-weight: bolder;
        font-size: 23px;
        color: $sandy;
        margin-bottom: 20px;
      }

      .event-speaker {
        font-family: 'PT Sans Regular', sans-serif;
        font-size: 17px;
        color: $ivory;
      }
    }

    .event-img img {
      width: 160px;
      height: 160px;

      @media (max-width: 768px) {
        width: 140px;
        height: 140px;
      }

      @media (max-width: 576px) {
        width: 120px;
        height: 120px;
      }
    }

    .event-content { 
      h3 {
        margin-bottom: 15px;

        a {
          font-family: 'Oswald', sans-serif;
          font-size: 23px;         
          text-decoration: none;
          color: $white;

          &:hover {
            transition: color 0.4s ease;
            color: $sandy;
          }
        }
      }

      p {
        font-family: 'PT Sans Regular', sans-serif;
        line-height: 1.6;
        font-size: 17px;
        color: $ivory;
        text-align: left;
      }
    } 
  }
}

.events-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  .btn-yellow {
    background: $sandy;
    font-size: 16px;
    font-family: 'PTSans Regular', sans-serif;
    font-weight: 600;
    padding: 16px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      transition: background-color 0.4s ease;
      background-color: $white;
    }
  }
}

/** Schedule **/
.schedule {
  padding: 90px 0;
  background-color: $ivory;

  .section-title {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .decoration-elem-img {
    display: block;
    margin: 30px auto;
    height: 8px;
    width: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 26px;
    }

    @media (max-width: 768px) {
      height: 28px;
    }
  }

  .section-description {
    max-width: 720px;
    margin: 0 auto 50px;
    color: #808080; 
    font-family: 'PTSans Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
  }

  .schedule-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .schedule-card {
    background: url(images/schedule.png) no-repeat center center;
    background-size: cover;
    position: relative;
    background-color: white;
    overflow: hidden;
    padding: 70px 30px;
  }

  .schedule-content {  
      position: relative;
      z-index: 2;
      
      .day-title {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .divider {
      border: none;
      border-top: 1px solid #808080;
      margin-bottom: 25px;
    }

    .schedule-table {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        display: flex;
        justify-content: space-between;
        font-family: 'PTSans Regular', sans-serif;
        font-size: 17px;

        .time {
          color: #000;
          font-weight: 700;
          flex: 0.6;
        }

        .group {
          text-align: left; 
          flex: 0.5;          
          color: #808080;
          opacity: 0.8;
        }
      }
    }
  }
  .schedule-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .btn-outline {
      padding: 16px 30px;
      border: 2px solid $charcoal-blue;
      background: none;
      font-family: 'PTSans Regular', sans-serif;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $charcoal-blue;
        color: white;
        transition: 0.3s ease;
      }
    }
  }
}

/** Championship **/ 
.championship {
  padding: 90px 0;
  background: $white;

  .section-title {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .decoration-elem-img {
    display: block;
    margin: 30px auto;
    height: 8px;
    width: auto;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 26px;
    }

    @media (max-width: 768px) {
      height: 28px;
    }
  }

  .section-description {
    margin: 0 auto 50px;
    color: #808080; 
    font-family: 'PTSans Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
  }

  .championship-grid {
    display: flex;
    justify-content: center;
  }

  .championship-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      text-align: center;
    }    
  }

  .players-list { 
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    position: relative;

    .player {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      border-radius: 12px;
      position: relative;
      justify-content: center;

      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;

        @media (max-width: 992px) {
          width: 70px;
          height: 70px;
        }  
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;

        .name {
          font-family: 'Oswald', sans-serif;
          color: #000;
          font-size: 30px;
          font-weight: 600;

          @media (max-width: 992px) {
            font-size: 22px;
          }  
        }

        .rank {
          font-family: 'Oswald', sans-serif;
          color: $sandy;
          font-size: 30px;
          font-weight: 600;

          @media (max-width: 992px) {
            font-size: 22px;
          }  
        }            
      }

      .player-line {
          flex-grow: 2;
          height: 1px;
          background-color: #ccc;
          transform: translateY(-6px);
          margin: 0 8px;
      }

      .score {
        font-family: 'Oswald', sans-serif;
        color: #000;
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
        margin-top: 4px;
        align-self: flex-start;

        @media (max-width: 992px) {
          font-size: 22px;
        }  
      }
    }  
  }

  .best-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: self-start;
    justify-self: self-end; 
    text-align: center;
    width: 260px;

    @media (max-width: 992px) {
      align-self: center;
      justify-self: center; 
    } 
    
    svg {
      width: 65px;
      height: 65px;
      color: $sandy;

      @media (max-width: 992px) {
        width: 50px;
        height: 50px;
      } 
    }

    .avatar-big {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin: 10px 0;

      @media (max-width: 992px) {
        width: 80px;
        height: 80px;
      }
    }

    .name {
      font-family: 'Oswald', sans-serif;
      color: #000;
      font-size: 42px;
      font-weight: 600;

      @media (max-width: 992px) {
        font-size: 28px;
      }
    }

    .title {
      font-family: 'PTSans Regular', sans-serif;
      color: #808080;
      font-size: 26px;
      font-weight: 600;

      @media (max-width: 992px) {
        font-size: 20px;
      }
    }

    .rating {
      font-family: 'Oswald', sans-serif;
      color: $sandy;
      font-size: 42px;
      font-weight: 600;

      @media (max-width: 992px) {
        font-size: 28px;
      }
    }

    .label {
      font-family: 'PTSans Regular', sans-serif;
      color: #808080;
      font-size: 20px;

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }
}

/** Play Chess **/
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 170px 0;
  background: url(images/play-chess.png) no-repeat center center;
  background-size: cover;
  text-align: left;

  @media (max-width: 992px) {
    padding: 170px 0;
  }

  @media (max-width: 990px) {
    padding: 140px 0;
  }

  @media (max-width: 769px) {
    padding: 100px 0;
  }

  .cta-content {
    max-width: 1200px;
    margin: 0 auto;

    .cta-title {
      font-size: 95px;
      font-family: 'Oswald', sans-serif;
      color: $white;
      line-height: 1;

      @media (max-width: 992px) {
        font-size: 95px;
      }

      @media (max-width: 990px) {
        font-size: 80px;
      }

      @media (max-width: 769px) {
        font-size: 60px;
      }

      @media (max-width: 480px) {
        font-size: 56px;
      }
    }

    .cta-text {
      font-size: 20px;
      font-family: 'PTSans Regular', sans-serif;
      color: $ivory;
      margin-top: 20px;
    }

    .cta-button {
      background-color: $charcoal-blue;
      color: $white;
      font-size: 16px;
      font-family: 'PTSans Regular', sans-serif;
      font-weight: 600;
      padding: 16px 30px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 40px;

      &:hover {
        transition: background-color 0.4s ease;
        background-color: $sandy;
        color: #000;
      }
    }
  }
}

/** Footer **/
.footer {
  background: $charcoal-blue;
  padding: 60px 0 30px;

  .container {
    @media (min-width: 1540px) {
      padding: 0;
    }
  }

  .footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .footer-logo img {
    height: 40px; 
    width: auto;
    display: block;
    cursor: pointer; 
    
    @media (max-width: 992px) {
      height: 50px; 
    }
  }

  .footer-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 768px) {
      margin-top: 50px;
    }

    a {
      position: relative;
      font-family: 'PTSans Regular', sans-serif;
      font-size: 17px;
      color: $ivory;
      text-decoration: none;
      
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $ivory;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
    font-family: 'PTSans Regular';

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 30px;     
    }

    .footer-copy {
      opacity: 0.8;
    }

    .footer-rights {
      font-weight: 600;
    }
  }